@charset "utf-8";
/* CSS Document */
.box{width: 100%; height: 100%;}
.logo-box{ width: 1200px; height: 174px;  margin: 0 auto;}


.login-logo{width: 730px; height: 174px; margin: 0 auto; background: url(../images/login-logo.jpg) no-repeat;}
.banner{ width: 100%; height: 260px; background: url(../images/banner-bj.jpg) 50%;}
.banner-in{padding: 8px  0 0px 0 ;}
.login-box{ width:800px; height: 260px; margin: 0 auto; margin-top: 30px;}
.login-left{ width:400px; height: 200px;border-right: 2px solid #006076;}
.login-left span{ font-size: 26px; color: #0f77b4;margin-left: 50px; display:  block; text-align: center; margin-top: 40px;}
.login-button{width:245px; height: 45px; background: #006076; border-radius: 3px; text-align: center; margin-top: 60px;margin-left: 120px; color:#fff; font-size: 14px; }

.login-right{ width:340px; height: 180px; margin-left: 40px; padding: 20px 0; }
.login-right ul li{ width: 300px;height: 30px; margin-bottom: 20px;}
.people img{  width:18px; height:18px;float: left;}
.login-right font{ margin-left: 5px; margin-right: 5px; float: left;width: 90px;}
.input-box{ width: 160px; height: 25px; border:1px solid #70b5e5; float: left;}
.input-box.yzm{width: 120px;}
.login{ margin-left: 115px;height: 25px; width: 50px; background: url(../images/logo-bj.png) repeat; border:1px solid #70b5e5; color: #fff;}

/*js效果*/
.jquery-slider-wrapper{position:relative;clear:both;zoom:1;}
.jquery-slider-slide{display:none;margin:0;padding:0;position:absolute;left:0;top:0;width:100%;}
.jquery-slider-slide img{border:0;margin:0;padding:0;}
.jquery-slider-slide-current{display:block;z-index:2;}
.jquery-slider-slide-next{display:block;z-index:1;}
.jquery-slider-selectors{display:block;overflow:hidden;position:absolute;bottom:10px;right:10px;z-index:3;}
.jquery-slider-selector{background:url(../images/jquery-slider-theme.png) no-repeat 0px -70px;display:inline;float:left;width:16px;height:16px;margin:0 0 0 5px;}
.jquery-slider-selector-current{background:url(../images/jquery-slider-theme.png) no-repeat -16px -70px;}
.jquery-slider-selector span{display:none;}
.jquery-slider-control{display:none;right:50%;top:50%;position:absolute;cursor:pointer;width:48px;height:69px;margin-top:-34px;margin-right:-24px;z-index:4;}
.jquery-slider-control span{display:none;}
.jquery-slider-control-play{background:url(../images/jquery-slider-theme.png) no-repeat -144px 0;}
.jquery-slider-control-pause{background:url(../images/jquery-slider-theme.png) no-repeat -96px 0;}
.jquery-slider-hovered .jquery-slider-control{display:block;}
.jquery-slider-navigation{display:block;}
.jquery-slider-navigation-prev{background:url(../images/jquery-slider-theme.png) no-repeat 0 0;display:none;left:0;top:50%;position:absolute;cursor:pointer;width:48px;height:69px;margin-top:-34px;z-index:4;}
.jquery-slider-navigation-prev span{display:none;}
.jquery-slider-navigation-next{background:url(../images/jquery-slider-theme.png) no-repeat -48px 0;display:none;right:0;top:50%;position:absolute;cursor:pointer;width:48px;height:69px;margin-top:-34px;z-index:4;}
.jquery-slider-navigation-next span{display:none;}
.jquery-slider-hovered .jquery-slider-navigation-prev,.jquery-slider-hovered .jquery-slider-navigation-next{display:block;}
.jquery-slider-wrapper .caption{padding:6px 10px;background:#333333;font-size:13px;position:absolute;bottom:10px;left:10px;color:#FFFFFF;}
.jquery-slider-timer{color:#000000;height:3px;width:100%;position:absolute;bottom:0;left:0;z-index:4;}
.jquery-slider-timer-bar{background:#000000;opacity:0.5;height:3px;width:0;float:left;display:inline;}

.ny-news-box{ width: 100%; background: #f1f1f1;  float: left; }
.news-box-in{width: 1120px; margin: 0 auto; margin-top: 20px;}
.news-left-list{width: 300px; margin-right: 20px;  float: left; color: #fff;}
.news-left-list ul li{ width: 280px; height: 40px; margin-bottom: 2px;  padding: 5px 5px; text-align: center; background: #d6d6d6;  line-height: 40px;}
.news-left-list ul li a{color: #000; font-size: 14px;}
.news-left-list ul li.news-title{font-size: 18px; color:#fff; background:url(../images/menu.png) right  no-repeat #000; }
.news-left-list ul li.list-bottom{ height: 60px;    padding: 10px 5px; background: #9fb71b;    line-height: 30px;}
.news-left-list ul li{ width: 280px; height: 40px; margin-bottom: 2px;  padding: 5px 5px; text-align: center; background: #d6d6d6;  line-height: 40px;}
.news-left-list ul li a{color: #000; font-size: 14px;}
.news-left-list ul li.news-title{font-size: 18px; color:#fff; background:url(../images/menu.png) right  no-repeat #000; }
.news-left-list ul li.list-bottom{ height: 60px;    padding: 10px 5px; background: #9fb71b;    line-height: 30px;}

.list-bottom span{ color: #fff; font-size: 20px;}
.list-bottom font{ color: #fff; font-size: 20px;}
.list-bottom font a.list-style{ color: #fff; font-size: 18px;}
.list-bottom span a.list-style{ color: #fff; font-size: 18px;}
.news-details{ width: 800px; float: left;}
.news-details h3{ width: 300px; margin: 0 auto; height: 45px; line-height: 45px; text-align: center;}
.news-details h6{ width: 300px; margin: 0 auto; height: 45px; line-height: 45px; text-align: center;    color: #a4a3a3;}
.news-details p{ text-indent:2em; }

.list-inf{width: 800px; float: left;}
.list-title{ border-bottom: 2px solid #E4E4E4; height: 45px; font-size: 16px; text-align: center;}
.list-title span{ width: 100px;  line-height: 45px; float: left;  }
.list-title font{ width: 200px; line-height: 45px; float: right; color: #000;    font-size: 12px; }
.list-title font a{color: #000;}
.news-content{ margin-top: 10px;    margin-bottom: 20px;}
.news-content ul li { height: 35px; border-bottom: 1px dashed #fff; line-height: 35px; background: url(../images/li.png) no-repeat left center; padding: 0 0 0 15px;}
.news-content ul li a{color:#000;}
.news-content span{ float: right; text-align: center; width: 200px;}

.stock-page{ width: 300px; height: 30px;  margin: 0 auto;  margin-top: 30px; margin-bottom: 10px;}
.stock-page ul li{ width: 30px; height: 30px; display: block;  margin-left: 2px; float: left; border: 1px solid #eeeeee; text-align: center; line-height: 30px; color: #396eb3;}
.stock-page ul li a:hover{ width: 30px; height: 30px; display: block;background: #ff5a00; color: #fff;}
